In [2]:
#Python
import regex as reg
from json import load
import os

#Panda/Numpy
import pandas as pd
import numpy as np

#Charting
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
df_corona_us = pd.read_csv("../data/subreddit_CoronavirusUS.csv")
df_corona = pd.read_csv("../data/subreddit_Coronavirus.csv")

In [7]:
df_corona.head()
df_corona_us.head()

,title,selftext,subreddit,created_utc,author,num_comments,score,is_self
0,6th inmate with coronavirus dies at California...,NaN,Coronavirus,1588686643,Morihando,1,2,False
1,California residents storm the beach defying G...,NaN,Coronavirus,1588692711,cryghton23,1,1,False
2,California Says Small Businesses Can Open This...,NaN,Coronavirus,1588706716,SantiGir20,43,4,False
3,California sees first drop in weekly coronavir...,[deleted],Coronavirus,1588716923,[deleted],0,1,False
4,California sees first weekly drop in coronavir...,NaN,Coronavirus,1588717015,Clouthead2001,69,22,False

,title,selftext,subreddit,created_utc,author,num_comments,score,is_self
0,How are you dealing with no barbers?,Especially if you are in a state where there i...,CoronavirusUS,1588746792,thejakesummers,4,1,True
1,Can i travel from Texas to California during t...,"I have a family emergency, for which I'd have ...",CoronavirusUS,1588602178,jashh1996,3,1,True
2,COVID-19 Antibody Seroprevalence in Santa Clar...,NaN,CoronavirusUS,1588634474,JacobiteCJA,0,1,False
3,How are you dealing with no barbers?,Especially if you are in a state where there i...,CoronavirusUS,1588746792,thejakesummers,4,1,True
4,Can i travel from Texas to California during t...,"I have a family emergency, for which I'd have ...",CoronavirusUS,1588602178,jashh1996,3,1,True

In [8]:
df_corona.info()
df_corona_us.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20927 entries, 0 to 20926
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         20927 non-null  object
 1   selftext      1318 non-null   object
 2   subreddit     20927 non-null  object
 3   created_utc   20927 non-null  int64
 4   author        20927 non-null  object
 5   num_comments  20927 non-null  int64
 6   score         20927 non-null  int64
 7   is_self       20927 non-null  bool
dtypes: bool(1), int64(3), object(4)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5875 entries, 0 to 5874
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         5875 non-null   object
 1   selftext      2816 non-null   object
 2   subreddit     5875 non-null   object
 3   created_utc   5875 non-null   int64
 4   author        5875 non-null   object
 5   num_comments  5875 non-null   int64
 6   score         5875 non-null   int64
 7   is_self       5875 non-null   bool
dtypes: bool(1), int64(3), object(4)
memory usage: 327.2+ KB

In [23]:
file_path = os.path.join('..'+os.sep+'rawtweets')
list_of_files = []
tweet_info = []

for f in os.listdir(file_path):
    f = file_path+os.sep+f
    #print("File to be read" ,f)
    with open(f) as file:
        data = load(file)
        for i in range(len(data['statuses'])):
            tweet_dict = {}
            tweet_dict['createddate'] = data['statuses'][i]['created_at']
            tweet_dict['tweetid'] =  data['statuses'][i]['id']
            tweet_dict['text'] = data['statuses'][i]['text']
            tweet_dict['userid'] = data['statuses'][i]['user']['id']
            tweet_dict['username'] = data['statuses'][i]['user']['name']
            tweet_dict['screen_name'] = data['statuses'][i]['user']['screen_name']
            tweet_dict['location'] = data['statuses'][i]['user']['location']
            tweet_dict['geoenabled'] = data['statuses'][i]['user']['geo_enabled']
            tweet_dict['geo'] = data['statuses'][i]['geo']
            tweet_dict['coordinates'] = data['statuses'][i]['coordinates']
            tweet_dict['place'] = data['statuses'][i]['place']
            tweet_info.append(tweet_dict)

    
#tweet_info

File to be read ../rawtweets/results5.json
File to be read ../rawtweets/results28.json
File to be read ../rawtweets/results2NY.json
File to be read ../rawtweets/results29_1.json
File to be read ../rawtweets/results29.json
File to be read ../rawtweets/results4.json
File to be read ../rawtweets/results4NY.json
File to be read ../rawtweets/resultssf1.json
File to be read ../rawtweets/results3.json
File to be read ../rawtweets/results2.json
File to be read ../rawtweets/results3NY.json
File to be read ../rawtweets/results1.json
File to be read ../rawtweets/resultssf3.json
File to be read ../rawtweets/resultssf2.json
File to be read ../rawtweets/results1NY.json
File to be read ../rawtweets/results28_1.json
File to be read ../rawtweets/results26.json
File to be read ../rawtweets/resultssf5.json
File to be read ../rawtweets/results30.json
File to be read ../rawtweets/results5NY.json
File to be read ../rawtweets/results30_1.json
File to be read ../rawtweets/results27.json
File to be read ../rawtweets/resultssf4.json

In [18]:


twitter_df = pd.DataFrame(tweet_info) 

twitter_df

,createddate,tweetid,text,userid,username,screen_name,location,geoenabled,geo,coordinates,place
0,Mon May 04 22:58:32 +0000 2020,1257444528212054017,As for me and mine we rather have Corona virus...,722496632,DKNYluv,DKNYluv,United States,True,None,None,"{'id': 'cddb718d9306e2f9', 'url': 'https://api..."
1,Mon May 04 22:54:04 +0000 2020,1257443405292081153,RT @DrAseemMalhotra: Corona virus and #obesity...,4896432160,Olga Cabaeva,OlgaCabaeva,Spain-UK,True,None,None,None
2,Mon May 04 22:53:59 +0000 2020,1257443381699100680,RT @GlobalGreenDeal: #pt My conclusion: the Du...,952247125185720320,#StayHome,NaattuVarthakal,കേരളം,False,None,None,None
3,Mon May 04 22:53:57 +0000 2020,1257443375478902786,#pt My conclusion: the Dutch government and it...,1075852337724440577,Global Green New Deal,GlobalGreenDeal,Courage in Despair,False,None,None,None
4,Mon May 04 16:08:22 +0000 2020,1257341307548295171,Death cases from Corona Virus in Aden city of ...,166425815,Adeni عدني,AdeniThinker,,False,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
960,Mon Apr 27 18:14:53 +0000 2020,1254836429122793473,RT @DrAseemMalhotra: Corona virus and #obesity...,983865741215592448,ABORIGINA ROBINSON,TinaSmi43212544,,True,None,None,None
961,Mon Apr 27 15:52:41 +0000 2020,1254800643908386824,U.S. COUPLE GETS DEATH THREATS after George We...,1585542295,PAA_Asile,PAA_Asile,France,False,None,None,None
962,Mon Apr 27 14:40:08 +0000 2020,1254782387998781443,Many failures combined to unleash death on Ita...,5654932,Rich Tehrani,rtehrani,"Trumbull, CT",True,None,None,None
963,Mon Apr 27 09:48:29 +0000 2020,1254708991722045442,Corona Virus cases in USA nearing 1 million. C...,1148140294249967616,Argyle Ave,argyle_ave,"Hollywood, Los Angeles",False,None,None,None
964,Mon Apr 27 03:55:11 +0000 2020,1254620079934799874,This the media on the corona virus death toll😭...,379350583,OTS Brian🐲,ots_brian,"Florida, USA",True,None,None,None